{{ partial "header.html" . }}

<section class="work">
    <ul class="inline">
        <li><a href="https://www.facebook.com/mum2be1416" target="__blank"><span>Facebook</span><i class="icon work__facebook"></i></a></li>
        <li><a href="/writing/"><span>Writing</span><i class="icon work__writing"></i></a></li>
        <li><a href="/concept/"><span>Concept</span><i class="icon work__concept"></i></a></li>
        <li><a href="/cv_cm.pdf" target="__blank" download><span>Resume</span><i class="icon work__resume"></i></a></li>
    </ul>
</section>

{{ partial "footer.html" . }}
