<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Imen Le Brun - Portfolio</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>
                Call me “La Brune”
                <span class="subtitle">on the line, any, anytime!</span>
            </h1>

            <nav>
                <ul class="inline">
                    <li {{ if eq "" .Section }}class="selected"{{ end }}><a href="/">About me</a></li>
                    <li {{ if (eq "work" .Section) | or (eq "writing" .Section) | or (eq "concept" .Section) }}class="selected"{{ end }}><a href="/work/">Work</a></li>
                    <li><a href="mailto:idjafri@gmail.com">Contact</a></li>
                </ul>
            </nav>
        </header>

        <section class="hero band">
            <h2>Community Manager & Copywriter</h2>
        </section>
