{{ partial "header.html" . }}

<section class="aboutme">
    <div class="avatar">
        <div class="square"></div>
    </div>
    <div class="resume">
        <h3>My name is</h3>
        <p>
            Imen Le Brun, a french young community manager and copywritter. I'm based in paris.

            <br>I fell in love with words during my childhood. I love playing with them especially when I have to find the good rhyme!
            Otherwise, I'm passionate about social media. I've worked for "Jacqueline Riu" a fashion brand.
            Since this experience, I want to give my best to animate a community with passion!

            <br>So, give me a chance…
        </p>
        <p><em>In “La Brune”, we trust and we like it!</em></p>
    </div>

    <div class="skills">
        <h3>My skills</h3>
        <ul class="inline">
            <li><i class="icon skill__empathy"></i><span class="label">Empathy</span></li>
            <li><i class="icon skill__diplomacy"></i><span class="label">Diplomacy</span></li>
            <li><i class="icon skill__communication"></i><span class="label">Communication</span></li>
            <li><i class="icon skill__creative"></i><span class="label">Creative</span></li>
            <li><i class="icon skill__teamwork"></i><span class="label">Team&nbsp;work</span></li>
        </ul>
    </div>
</section>

<section class="qualities band">
    <h2>We<br> like me<br> for:</h2>
    <ul>
        <li>My smile</li>
        <li>My positive mind</li>
        <li>I make delicious Brookie <span class="extra">(all my friends say it)</span>
    </ul>
</section>

{{ partial "footer.html" . }}
